// Color
$primary-red: #ec1c24;
$primary-white: #fff;
$primary-footer: #1a1a1a;

// Card heading colors
.card-normal {
    background: url(../img/super-1.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.card-plus {
    background: url(../img/super-2.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.card-superman {
    background: url(../img/super-3.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
