.header{
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.navbar{
    width: 80%;
    height: 20vh;
    display: flex;
    align-items: center;
    margin: 5rem auto 0 auto;
    justify-content: space-between;
}

.navbar__image .navbar__logo{
    width: 12.5rem;
}

.navbar__links{
    width: 50rem;
    transition: right .5s ease;

    @include responsive(breakpoint5){
        width: 30rem;
        height: 100vh;
        position: fixed;
        right: -100%;
        top: 0;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 3rem 0;
        background: #000;
    }
}

.change .navbar__links{
    right: 0;
}

.navbar__list{
    display: flex;
    list-style: none;

    @include responsive(breakpoint5){
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
}

.navbar__link{
    margin-left: 5.2rem;
    position: relative;

    @include responsive(breakpoint5){
        margin: 0 0 3rem 0;
        position: static;
        text-align: center;
    }
}

.navbar__item{
    color: $primary-white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
}

.navbar__item span{
    margin-left: .5rem;
    transition: transform .3s ease;
}

.dropdown{
    position: absolute;
    top: 3rem;
    left: 0;
    list-style: none;
    width: fit-content;
    height: 5rem;
    padding: 1rem;
    background-color: rgba(0,0,0, .3);
    border-radius: .5rem;
    display: none;

    @include responsive(breakpoint5){
        bottom: 1rem;
        position: static;
        box-shadow: none;
        border-bottom: none;
        background: none;
    }
}

.navbar__item-sub{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: $primary-white;
}

.navbar__link:hover .dropdown{
    display: block;
}

.navbar__item:hover span{
    transform: rotate(180deg);
}

.hamburger-menu{
    width: 3.5rem;
    height: 3rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;

    @include responsive(breakpoint5){
        opacity: 1;
        visibility: visible;
    }
}

.line{
    width: 100%;
    height: .3rem;
    background: $primary-red;
    transition: transform .5s ease, opacity .3s ease;
}

.change .line-1{
    transform: translateY(-100%);
    opacity: 0;
}

.change .line-2{
    transform: rotate(45deg) translate(.2rem, .6rem);
}

.change .line-3{
    transform: rotate(-45deg) translate(-.1rem, -.4rem);
}