.btn-join{
    margin-top: 3rem;
    padding: 1rem 3.5rem;
    border-radius: 5rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $primary-white;
}

.btn-join:focus{
    outline: none;
}

.btn-join:active{
    transform: scale(.98);
    box-shadow: 0 0 .3rem .5rem rgba(0,0,0, .3);
}

.btn-top{
    position: absolute;
    top: 0;
    right: 7rem;
    padding: 1.5rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    outline: none;
    border: none;
    cursor: pointer;

    @include responsive(breakpoint4){
        right: 1rem;
    }
}

.btn-select{
    background-color: $primary-red;
    padding: 1.3rem 3rem;
    border-radius: 5rem;
    border: none;
    outline: none;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.btn-submit{
    text-transform: uppercase;
    padding: 1rem 5rem;
    background-color: $primary-red;
    border-radius: 2rem;
    font-size: 1.8rem;
    color: $primary-white;
    border: none;
    outline: none;
    margin: 0 6rem;
    cursor: pointer;
    font-weight: 700;

    @include responsive(breakpoint4){
        margin: 0 4rem;
    }
}

.btn-submit:focus{
    outline: none;
}

.btn-back{
    padding: 1rem 2rem;
    background-color: $primary-white;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-back:focus{
    outline: none;
}

.btn-send{
    width: 26.6rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $primary-white;
    background: $primary-red;
    border: none;
    margin-top: 3.5rem;
    border-radius: 2rem;
}